body {
	background: url('/img/background.png')
}

blockquote:first-of-type {
	margin-top: 3em;	
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus , #navbrand:hover {
    color: #9AB4EF;
}

a {
	color: #9AB4EF;
}

.navbar {
	border: 4px solid #4a74d6;
}

.jumbotron {
	border: 3px solid #4a74d6;
	/* background-color: ; */
}

.title {
	font-size: 55px;
}

.title-button {
	margin-top: 2em;
}

.design {
	margin-left: 11em;
}

@media (max-width: 432px) {
	.title {
		font-size: 24px;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 50px;
	}
	
	.title-button {
		padding-left: 20px;
		padding-top: 10px;
		text-align: center;
		font-size: 12pt;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1em;
		display: block;
		width: 8em;
		height: 3em;
	}
	
	.design {
		margin-left: 2em;
		font-size: 8pt;	
	}
	
	#logo {
		display: none;
	}
}

@media (min-width: 433px) and (max-width: 767px) {
	.title {
		margin-left: 30px;
		margin-right: 10px;
		font-size: 44px;
	}
	
	.title-mission {
		margin-left: 30px;
		font-size: 36px;
	}
	
	.title-button {
		margin-top: 30px;
		margin-left: 30px;
	}
	
	.design {
		margin-left: 1em;	
		font-size: 8pt;
	}
	
	#sub {
		display: block;
	}
	
	#logo {
		display: none;
	}
}

@media (min-width: 768px) {
	#sub {
		display: none;
	}
}

.panel-info > .panel-heading {
    color: white;
	background-color: #4a74d6;

}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
